@import '../..'

/********************/
/* SETUP */
body
  background #999
  text-align center

  h1 small
    display block
    font-size 12px

  .container
    width (60px + 20px + 2px) * 8
    margin 20px auto
    border-bottom 8px solid #333

    .box
      width 60px
      height 60px
      margin 10px
      float left
      border 1px solid black
      border-radius 8px
      background #999
      box-shadow 1px 1px 0 #333

    br
      clear both
tes-t = blue
/********************/
/* THE MAGICSAUCE */
trees = colors('trees')
.debug
  test trees()
  asdf Amber
/********************/