extends layout

block content
  form.container(method='post')
    h1= title
    textarea#code(name='code')= code
    input.btn.btn-primary#beautify(type='submit', value='&#9775; Beautify')
    input.btn.btn-secondary#share(type='submit', value='&#9729; Share')