theme-buttons(scheme)
  .btn
    buttonize()

  a.btn:hover
    color #333
    text-decoration none

  .btn-primary
    button-paint(scheme[0])

  .btn-secondary
    button-paint(scheme[1])

  .btn-tertiary
    button-paint(scheme[2])

  .btn-mini
    padding 2px 6px
    font-size 11px
    line-height 14px
