@import '../../grid'

/********************/
/* SETUP */
.container
  width $totalWidth
  margin 0 auto

/********************/
/* MAGICSAUCE */
.row
  margin-left -($gutter)

  &:before,
  &:after
    display table
    content ""

  &:after
    clear both

[class*="span"]
  float left
  margin-left $gutter

for col in 1..$numColumns
  .span{col}
    column(col)

  .offset{col}
    offset(col)

  input.span{col}
  textarea.span{col}
    input(col)

//  FORMS
input[class*="span"]
select[class*="span"]
textarea[class*="span"]
  float: none
  margin-left 0

input
textarea
  margin-left 0