//	MISC
midnightblue           = #000033
newmidnightblue        = #00009C
pinegreen              = #003300
cichlid                = #003EFF
sign-blue              = #003F87
dumpster               = #004F00
celtics                = #00611C
starbucks              = #006633
sign-green             = #006B54
slateblue              = #007FFF
irish-flag             = #009900
truegreen              = #00AF33
turquoiseblue          = #00C78C
emeraldgreen           = #00C957
springgreen            = #00FF33
neonavocado            = #00FF66
seagreen               = #00FFAA
light-teal             = #00FFCC
ty-nant                = #0147FA
topaz                  = #0198E1
mouthwash              = #01C5BB
picasso-blue           = #0276FD
manganeseblue          = #03A89E
cerulean               = #05B8CC
indiglo                = #05E9FF
teal-LED               = #05EDFF
sea-green              = #068481
permanentgreen         = #0AC92B
police-strobe          = #0BB5FF
bankers-lamp           = #0E8C3A
diamond-blue           = #0EBFE9
turquoise              = #0FDDAF
malachite              = #108070
ultramarine            = #120A8F
garden-hose            = #138F6A
ulysses-butterfly      = #1464F4
masters-jacket         = #174038
alaska-sky             = #1B3F8B
6-ball                 = #1B6453
peafowl                = #1D7CF2
bottle-green           = #1DA237
emerald-city           = #20BF9F
packer-green           = #213D30
huntergreen            = #215E21
delft                  = #22316C
navyblue               = #23238E
steelblue              = #236B8E
seagreen               = #238E68
blue-spider            = #26466D
pabst-blue             = #283A90
cooler                 = #284942
ivoryblack             = #292421
atlantic-green         = #2A8E82
blue-angels            = #2B4F81
st-louis-blues         = #2C5197
cucumber               = #2C5D3F
indigo                 = #2E0854
stained-glass          = #2E37FE
lampblack              = #2E473B
park-bench             = #2E6444
midnightblue           = #2F2F4F
darkgreen              = #2F4F2F
aquarium               = #2FAA96
presidential-blue      = #302B54
mailbox                = #3063A5
sapgreen               = #308014
pool-table             = #31B94D
mediumblue             = #3232CC
mediumblue             = #3232CD
limerind               = #324F17
liz-eyes               = #325C74
green-line             = #329555
darkcherryred          = #330000
cornflower             = #3300FF
royalblue              = #3333FF
old-money              = #337147
peacock                = #33A1C9
blue-line              = #33A1DE
parrotgreen            = #33FF33
blue-corn              = #344152
octopus                = #34925E
army-uniform           = #353F3E
pacific-blue           = #35586C
parrot                 = #3579DC
pacific-green          = #36DBCA
aquaman                = #37BC61
metallic-mint          = #37FDFC
blue-deep              = #380474
terreverte             = #385E0F
sgiteal                = #388E8E
summersky              = #38B0DE
green-pepper           = #397D02
nypd-blue              = #39B7CD
blue-train             = #3A5894
circuit-board          = #3A6629
big-blue-bus           = #3A66A7
dress-blue             = #3B3178
blue-grapes            = #3B4990
romaine-lettuce        = #3B5323
olive3b                = #3B5E2B
greek-roof             = #3B6AA0
blue-green-algae       = #3B8471
wet-moss               = #3D5229
cobalt                 = #3D59AB
obsidian               = #3D5B43
green-lantern          = #3D8B37
cobaltgreen            = #3D9140
green-party            = #3E6B4F
mediterranean          = #3E766D
green-gables           = #3E766D
ooze                   = #3E7A5E
clover                 = #3EA055
douglas-fir            = #3F602B
green-taxi             = #3F9E4D
shamrock               = #40664D
cornflowerblue         = #42426F
blue-jeans             = #42526C
isle-royale-greenstone = #426352
blue-whale             = #42647F
mediumseagreen         = #426F42
caribbean              = #42C0FB
spinach                = #435D36
denim                  = #4372AA
go                     = #43D58C
green-agate            = #457371
natural-turquoise      = #45C3B8
od-green               = #46523C
noble-fir              = #476A34
park-ranger            = #484D46
scotland-pound         = #487153
holly                  = #488214
blue-bird              = #4973AB
blue-ridge-mtns        = #4981CE
blue-bucket            = #499DF5
Nerf-green             = #49E20E
electric-turquoise     = #49E9BD
kakapo                 = #4A7023
darkgreencopper        = #4A766E
fenway-monster         = #4A777A
wales                  = #4AC948
green-MnM              = #4BB74C
bluegrass              = #4C7064
blue-lagoon            = #4CB7A5
kelly                  = #4CBB17
neonblue               = #4D4DFF
fraser-fir             = #4D6B50
pollock-blue           = #4D6FAC
lake-ontario           = #4D71A3
green-visor            = #4D7865
grass                  = #4DBD33
aquamarine             = #4E78A0
violet                 = #4F2F4F
darkolivegreen         = #4F4F2F
green-scrubs           = #4F8E83
lake-superior          = #506987
blue-stone             = #50729F
LCD-dark               = #507786
lake-michigan          = #50A6C2
malta-blue             = #517693
blue-pill              = #5190ED
blue-dog               = #525C65
fenway-grass           = #526F35
greencopper            = #527F76
carolina-blue          = #539DC2
grape                  = #543948
burntsienna            = #551011
deeppurple             = #551033
leaf                   = #55AE3A
blue-corn-chips        = #584E56
broccoli               = #586949
richblue               = #5959AB
snake                  = #596C56
green-bark             = #597368
chemical-suit          = #5993E5
lizard                 = #5A6351
curacao                = #5B59BA
natural-gas            = #5B90F6
emerald                = #5B9C64
ultramarineviolet      = #5C246E
bakerschocolate        = #5C3317
verydarkbrown          = #5C4033
lake-huron             = #5D7B93
greenstamp             = #5D9160
blue-sponge            = #5D92B1
green-LED              = #5DFC0A
vandykebrown           = #5E2605
sepia                  = #5E2612
fresh-green            = #5EDA9E
tea-leaves             = #5F755E
cadetblue              = #5F9F9F
sign-brown             = #603311
fishermans-float       = #607C6E
palm                   = #608341
la-maison-bleue        = #60AFFE
tank                   = #615E3F
lake-erie              = #6183A6
cinnabargreen          = #61B329
green-apple            = #629632
tropical-blue          = #62B1F6
cactus                 = #636F57
green-algae            = #63AB62
surf                   = #63D1F4
seaweed                = #646F5E
lindsay-eyes           = #65909A
tree-moss              = #659D32
bloodred               = #660000
blue-safe              = #6600FF
concord-grape          = #660198
cobalt                 = #6666FF
chromeoxidegreen       = #668014
green-ash              = #668E86
aqua                   = #66CCCC
wasabi                 = #66FF66
neon-blue              = #67C8FF
swimming-pool          = #67E6EC
sea-urchin             = #683A5E
blue-tuna              = #687C97
pond-scum              = #687E5A
england-pound          = #688571
purple-rain            = #694489
blue-shark             = #6996AD
putting                = #699864
green-hornet           = #6A8455
darkslateblue          = #6B238E
neptune                = #6D9BF1
viridianlight          = #6EFF70
dolphin                = #6F7285
darkturquoise          = #7093DB
aquamarine             = #70DB93
mediumturquoise        = #70DBDB
garden-plum            = #71637D
sgislate-blue          = #7171C6
sgichartreuse          = #71C671
indigo-tile            = #72587F
deepochre              = #733D1A
rawumber               = #734A12
seurat-blue            = #739AC5
old-copper             = #73B1B7
seaweed-roll           = #748269
blue-ice               = #74BBFB
lavender-field         = #754C78
blue-fern              = #759B84
blueberry              = #75A1D0
ganegreen              = #777733
green-goo              = #77896C
pumice                 = #78A489
pea                    = #78AB46
pea                    = #79973F
Coke-bottle            = #79A888
cat-eye                = #7AA9DD
cinnamon               = #7B3F00
green-moth             = #7BBF6A
night-vision           = #7BCC70
blue-nile              = #7D7F94
sgilightblue           = #7D9EC0
forget-me-nots         = #7EB6FF
flight-jacket          = #7F8778
kiwi                   = #7F9A65
brown                  = #802A2A
warmgrey               = #808069
coldgrey               = #808A87
eggplant               = #816687
wild-violet            = #820BBB
blue-mist              = #82CFFD
nikko-blue             = #838EDE
neon-green             = #83F52C
lightslateblue         = #8470FF
frog                   = #84BE6A
darkwood               = #855E42
dustyrose              = #856363
plum-pudding           = #862A51
100-euro               = #86C67C
darkpurple             = #871F78
raspberry              = #872657
brownochre             = #87421F
blue-cow               = #88ACE0
burntumber             = #8A3324
burntsienna            = #8A360F
green-quartz           = #8AA37B
martini-olive          = #8BA446
soylent-green          = #8BA870
scarlet                = #8C1717
bronze                 = #8C7853
green-soap             = #8CDD81
sgibeet                = #8E388E
sienna                 = #8E6B23
sgiolivedrab           = #8E8E38
violet                 = #8F5E99
lightsteelblue         = #8F8FBC
green-cheese           = #8FA880
lightblue              = #8FD8D8
cool-mint              = #90FEFB
cobaltvioletdeep       = #91219E
LCD-back               = #91B49C
pastel-green           = #92CCA6
greenyellow            = #93DB70
marsorange             = #964514
eton-blue              = #96C8A2
darktan                = #97694F
avocado                = #98A148
truepurple             = #990099
bordeaux               = #99182C
darkorchid             = #9932CD
chocolate              = #993300
wavecrest              = #99CDC9
cerulean-blue          = #9BC4E2
brick                  = #9C661F
purple-ink             = #9C6B98
cantaloupe             = #9CA998
jolly-green            = #9CCB19
amethyst               = #9D6B84
canvas                 = #9D8851
burgundy               = #9E0508
blueviolet             = #9F5F9F
khaki                  = #9F9F5F
purple                 = #A020F0
smyrna-purple          = #A2627A
kermit                 = #A2BC13
avacado                = #A2C257
sweet-potato-vine      = #A2C93A
beige-dark             = #A39480
20-pound               = #A46582
liberty                = #A4DCD1
bunny-eye              = #A5435C
brown                  = #A62A2A
bronzeii               = #A67D3D
mediumwood             = #A68064
guacamole              = #A6D785
turnip                 = #A74CAB
sandstone              = #A78D84
aluminum               = #A9ACB6
coffee                 = #AA5303
cinnamon               = #AA6600
sgilightgray           = #AAAAAA
periwinkle             = #AAAAFF
goldgreen              = #AADD00
organic-tea            = #AC7F24
turquoise              = #ADEAEA
wasabi-sauce           = #AEBB51
sign-red               = #AF1E2D
cola                   = #AF4035
indianred              = #B0171F
kidney-bean            = #B13E0F
purple-fish            = #B272A6
shamrock-shake         = #B2D0B4
key-lime-pie           = #B3C95A
vanilla-mint           = #B4D7BF
thistle                = #B5509C
brass                  = #B5A642
harolds-crayon         = #B62084
cranberry              = #B6316C
titanium               = #B6AFA9
brushed-aluminum       = #B6C5BE
heather-blue           = #B7C3D0
new-20-dollar-bill     = #B7C8B6
copper                 = #B87333
chartreuse-verte       = #BCE937
green-mist             = #BCED91
mint-green             = #BDFCC9
gray                   = #BEBEBE
cat-eye                = #BEE554
violet-flower          = #BF5FFF
lichen                 = #C0D9AF
lightblue              = #C0D9D9
pastel-blue            = #C1F0F6
robins-egg             = #C3E4ED
sgibrightgray          = #C5C1AA
mint-ice-cream         = #C5E3BF
sgisalmon              = #C67171
ash                    = #C6C3B5
chili-powder           = #C73F17
rawsienna              = #C76114
goldochre              = #C77826
ruby-red               = #C82536
safety-vest            = #C8F526
fog                    = #CBCAB6
grape                  = #CC00FF
bloodorange            = #CC1100
orange                 = #CC3232
violetred              = #CC3299
apple                  = #CC4E5C
ochre                  = #CC7722
lavender               = #CC99CC
ralphyellow            = #CCCC00
offwhiteblue           = #CCCCFF
offwhitegreen          = #CCFFCC
verylightgrey          = #CDCDCD
fire-truck-green       = #CDD704
iceberg-lettuce        = #CDE472
green-grape            = #CECC15
oldgold                = #CFB53B
celery                 = #CFD784
violetred              = #D02090
conch                  = #D0A9AA
battleship             = #D0D2C4
feldspar               = #D19275
pear                   = #D1E231
pink-glass             = #D3BECF
venetianred            = #D41A1F
barney                 = #D4318C
englishred             = #D43D1A
chili                  = #D44942
limepulp               = #D4ED91
wheat                  = #D8D8BF
cool-copper            = #D98719
brightgold             = #D9D919
quartz                 = #D9D9F3
blue-ice               = #DAF4F0
permanent-redviolet    = #DB2645
brownmadder            = #DB2929
orchid                 = #DB70DB
tan                    = #DB9370
ham                    = #DB9EA6
goldenrod              = #DBDB70
moon                   = #DBE6E0
mint-blue              = #DBFEF8
sign-orange            = #DD7500
carnation              = #DE85B1
melonrindgreen         = #DFFFA5
pink-jeep              = #E0427F
stainless-steel        = #E0DFDB
cream-city-brick       = #E2DDB5
geraniumlake           = #E31230
cadmiumreddeep         = #E3170D
alizarincrimson        = #E32636
madderlakedeep         = #E32E30
rosemadder             = #E33638
hematite               = #E35152
marsyellow             = #E3701A
yellowochre            = #E38217
melon                  = #E3A869
banana                 = #E3CF57
mandarianorange        = #E47833
silver                 = #E6E8FA
tongue                 = #E79EA9
espresso               = #E7C6A5
dark-wheat             = #E8C782
chrome                 = #E8F1D4
lightwood              = #E9C2A6
mediumgoldenrod        = #EAEAAE
cherry                 = #EB5E66
newtan                 = #EBC79E
piglet-snout           = #ECC3BF
corfu-pink             = #ECC8EC
carrot                 = #ED9121
light-copper           = #EDC393
tan                    = #EE8833
beach-sand             = #EED6AF
lightgoldenrod         = #EEDD82
pyridiumorange         = #F0A804
grapefruit             = #F3E88E
cranberry-jello        = #F54D70
dog-tongue             = #F6A4D5
pink-cloud             = #F6A8B6
bermuda-sand           = #F6C9CC
pink-shell             = #F6CCDA
cotton-candy           = #F7B3DA
apricot                = #FBA16C
corn                   = #FBEC5D
packer-gold            = #FCB514
sign-yellow            = #FCD116
bread                  = #FCD59C
eggshell               = #FCE6C9
titaniumwhite          = #FCFFF0
zincwhite              = #FDF8FF
honey                  = #FEE5AC
desert-sand            = #FEE8D6
peach                  = #FEF0DB
buttermilk             = #FEF1B5
bright-red             = #FF0033
broadwaypink           = #FF0066
orangered              = #FF007F
rose                   = #FF00CC
cadmiumredlight        = #FF030D
spicypink              = #FF1CAE
orangered              = #FF2400
nectarine              = #FF3300
novascotia-salmon      = #FF3333
greenishumber          = #FF3D0D
safety-cone            = #FF5333
fleshochre             = #FF5721
cadmiumorange          = #FF6103
orange                 = #FF6600
seattle-salmon         = #FF6666
neonpink               = #FF6EC7
oregon-salmon          = #FF7722
orange                 = #FF8000
bubble-gum             = #FF92BB
cadmiumyellow          = #FF9912
peach                  = #FF9955
naplesyellowdeep       = #FFA812
aureolineyellow        = #FFA824
peachpuff              = #FFADB9
cadmium-yellowlight    = #FFB00F
cheddar                = #FFC469
mustard                = #FFCC11
sand                   = #FFCC99
flatpink               = #FFCCCC
cadmiumlemon           = #FFE303
yolk                   = #FFE600
coconut                = #FFFCCF	
papaya                 = #FFFF7E
popcornyellow          = #FFFFAA
bone                   = #FFFFCC

//	X11
aliceblue            = rgb(240, 248, 255)
antiquewhite         = rgb(250, 235, 215)
aquamarine           = rgb(127, 255, 212)
azure                = rgb(240, 255, 255)
beige                = rgb(245, 245, 220)
bisque               = rgb(255, 228, 196)
blanchedalmond       = rgb(255, 235, 205)
blueviolet           = rgb(138, 43, 226)
brown                = rgb(165, 42, 42)
burlywood            = rgb(222, 184, 135)
cadetblue            = rgb(95, 158, 160)
chartreuse           = rgb(127, 255, 0)
chocolate            = rgb(210, 105, 30)
coral                = rgb(255, 127, 80)
cornflowerblue       = rgb(100, 149, 237)
cornsilk             = rgb(255, 248, 220)
crimson              = rgb(220, 20, 60)
cyan                 = rgb(0, 255, 255)
darkblue             = rgb(0, 0, 139)
darkcyan             = rgb(0, 139, 139)
darkgoldenrod        = rgb(184, 132, 11)
darkgray             = rgb(169, 169, 169)
darkgreen            = rgb(0, 100, 0)
darkgrey             = rgb(169, 169, 169)
darkkhaki            = rgb(189, 183, 107)
darkmagenta          = rgb(139, 0, 139)
darkolivegreen       = rgb(85, 107, 47)
darkorange           = rgb(255, 140, 0)
darkorchid           = rgb(153, 50, 204)
darkred              = rgb(139, 0, 0)
darksalmon           = rgb(233, 150, 122)
darkseagreen         = rgb(143, 188, 143)
darkslateblue        = rgb(72, 61, 139)
darkslategray        = rgb(47, 79, 79)
darkslategrey        = rgb(47, 79, 79)
darkturquoise        = rgb(0, 206, 209)
darkviolet           = rgb(148, 0, 211)
deeppink             = rgb(255, 20, 147)
deepskyblue          = rgb(0, 191, 255)
dimgray              = rgb(105, 105, 105)
dimgrey              = rgb(105, 105, 105)
dodgerblue           = rgb(30, 144, 255)
firebrick            = rgb(178, 34, 34)
floralwhite          = rgb(255, 255, 240)
forestgreen          = rgb(34, 139, 34)
gainsboro            = rgb(220, 220, 220)
ghostwhite           = rgb(248, 248, 255)
gold                 = rgb(255, 215, 0)
goldenrod            = rgb(218, 165, 32)
greenyellow          = rgb(173, 255, 47)
grey                 = rgb(128, 128, 128)
honeydew             = rgb(240, 255, 240)
hotpink              = rgb(255, 105, 180)
indianred            = rgb(205, 92, 92)
indigo               = rgb(75, 0, 130)
ivory                = rgb(255, 255, 240)
khaki                = rgb(240, 230, 140)
lavender             = rgb(230, 230, 250)
lavenderblush        = rgb(255, 240, 245)
lawngreen            = rgb(124, 252, 0)
lemonchiffon         = rgb(255, 250, 205)
lightblue            = rgb(173, 216, 230)
lightcoral           = rgb(240, 128, 128)
lightcyan            = rgb(224, 255, 255)
lightgoldenrodyellow = rgb(250, 250, 210)
lightgray            = rgb(211, 211, 211)
lightgreen           = rgb(144, 238, 144)
lightgrey            = rgb(211, 211, 211)
lightpink            = rgb(255, 182, 193)
lightsalmon          = rgb(255, 160, 122)
lightseagreen        = rgb(32, 178, 170)
lightskyblue         = rgb(135, 206, 250)
lightslategray       = rgb(119, 136, 153)
lightslategrey       = rgb(119, 136, 153)
lightsteelblue       = rgb(176, 196, 222)
lightyellow          = rgb(255, 255, 224)
limegreen            = rgb(50, 205, 50)
linen                = rgb(250, 240, 230)
magenta              = rgb(255, 0, 255)
mediumaquamarine     = rgb(102, 205, 170)
mediumblue           = rgb(0, 0, 205)
mediumorchid         = rgb(186, 85, 211)
mediumpurple         = rgb(147, 112, 219)
mediumseagreen       = rgb(60, 179, 113)
mediumslateblue      = rgb(123, 104, 238)
mediumspringgreen    = rgb(0, 250, 154)
mediumturquoise      = rgb(72, 209, 204)
mediumvioletred      = rgb(199, 21, 133)
midnightblue         = rgb(25, 25, 112)
mintcream            = rgb(245, 255, 250)
mistyrose            = rgb(255, 228, 225)
moccasin             = rgb(255, 228, 181)
navajowhite          = rgb(255, 222, 173)
oldlace              = rgb(253, 245, 230)
olivedrab            = rgb(107, 142, 35)
orangered            = rgb(255, 69, 0)
orchid               = rgb(218, 112, 214)
palegoldenrod        = rgb(238, 232, 170)
palegreen            = rgb(152, 251, 152)
paleturquoise        = rgb(175, 238, 238)
palevioletred        = rgb(219, 112, 147)
papayawhip           = rgb(255, 239, 213)
peachpuff            = rgb(255, 218, 185)
peru                 = rgb(205, 133, 63)
pink                 = rgb(255, 192, 203)
plum                 = rgb(221, 160, 203)
powderblue           = rgb(176, 224, 230)
rosybrown            = rgb(188, 143, 143)
royalblue            = rgb(65, 105, 225)
saddlebrown          = rgb(139, 69, 19)
salmon               = rgb(250, 128, 114)
sandybrown           = rgb(244, 164, 96)
seagreen             = rgb(46, 139, 87)
seashell             = rgb(255, 245, 238)
sienna               = rgb(160, 82, 45)
skyblue              = rgb(135, 206, 235)
slateblue            = rgb(106, 90, 205)
slategray            = rgb(119, 128, 144)
slategrey            = rgb(119, 128, 144)
snow                 = rgb(255, 255, 250)
springgreen          = rgb(0, 255, 127)
steelblue            = rgb(70, 130, 180)
tan                  = rgb(210, 180, 140)
thistle              = rgb(216, 191, 216)
tomato               = rgb(255, 99, 71)
turquoise            = rgb(64, 224, 208)
violet               = rgb(238, 130, 238)
wheat                = rgb(245, 222, 179)
whitesmoke           = rgb(245, 245, 245)
yellowgreen          = rgb(154, 205, 5)

//	W3C
white   = rgb(255, 255, 255)
silver  = rgb(192, 192, 192)
gray    = rgb(128, 128, 128)
grey    = rgb(128, 128, 128)
black   = rgb(0, 0, 0)
red     = rgb(255, 0, 0)
maroon  = rgb(128, 0, 0)
orange  = rgb(255, 165, 0)
yellow  = rgb(255, 255, 0)
olive   = rgb(128, 128, 0)
lime    = rgb(0, 255, 0)
green   = rgb(0, 128, 0)
aqua    = rgb(0, 255, 255)
teal    = rgb(0, 128, 128)
blue    = rgb(0, 0, 255)
navy    = rgb(0, 0, 128)
fuchsia = rgb(255, 0, 255)
purple  = rgb(128, 0, 128)